<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <header>
    <h1> Moteur de recherche </h1>
    <form action="/search" method="post">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname">
        <button type="submit"> recherche </button>
    </form>
    <%= categorie %>   
    </header>
    <main>
        <ul>
        <% for(var i=0; i<docs.length; i++) {%>
            <li>  
                <a href=<%= docs[i][0].link %>> <%= docs[i][0].title %>  </a>
                <p> <%= docs[i][0].description %>  </p>
            </li>
                <% } %>
        </ul>
    </main>
    <body>
</html>

